.reddos-comments {
    font-size: 15px;
}

.reddos-comments-header {
    padding: 15px;
    background-color: #CEE3F8;
    margin: 0;
}

.reddos-comments-title {
    font-size: 18px;
    font-weight: bold;
}

.reddos-comments-meta {
    margin-top: 5px;
    color: #444444;
}

.reddos-comments-selftext {
    margin: 0;
    padding: 15px;
}

/******************************************************************************/

.reddos-comments-block {
    padding: 0 15px 0 15px;
}

.reddos-comments-selftext p,
.reddos-comment-content p {
    margin: 0 0 0.5em 0;
}

.reddos-comment-item {
   margin: 1em 0 0 0;
}

.reddos-comment-meta {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: #666666;
}


.reddos-comment-author {
    font-weight: bold;
    color: #04396C;
    margin-right: 0.5em;
}

.reddos-comment-author-op {
    color: #FF4500;
}

.reddos-comment-item-indent {
    border-width: 0 0 0 1px;
    border-color: #CCC;
    border-style: solid;
    padding-left: 1em;
}
