.reddos-login-popup {
	width: 350px;
}

.reddos-login-title {
	font-weight: bold;
	text-align: center;
}

.reddos-login-message {
	color: #cc0000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	margin: 4px 0 8px 0;
}