.reddos-secondcolumn {
    background-color: white;
}

.reddos-subreddit-item {
    border-color: #CEE3F8;
    border-style: solid;
    border-width: 0 0 1px 0;
    font-size: 15px;
}

.reddos-subreddit-item-odd {
    background-color: #E9F2FC;
}

.reddos-subreddit-item-title {
    font-weight: bold;
    min-height: 2em;
}

.reddos-subreddit-item-title-visited {
    color: #4B739B;
}

.reddos-subreddit-item-nsfw {
    color: #BB0000;
    font-weight: bold;
    padding-right: 5px;
}

.reddos-subreddit-item-domain {
    font-size: 13px;
    color: #04396C;
    margin-top: 4px;
}

.reddos-subreddit-item-meta {
    font-size: 13px;
    color: #444444;
}

.reddos-subreddit-item-held {
    background-color: #CEE3F8;
}

.reddos-subreddit-item-held .reddos-subreddit-item-title {
    color: #04396C;
}

.reddos-subreddit-item-commentbutton,
.reddos-subreddit-item-votebutton {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5px 31px 5px 8px;
    margin-left: 15px;
    border-radius: 4px;
}

.reddos-subreddit-item-commentbutton {
    background-color: #679ED2;
    background-image: url("../images/bg-subreddit-conversation.png");
}

.reddos-subreddit-item-commentbutton-down {
    background-color: #04396C;
}

.reddos-subreddit-item-votebutton {
    background-color: #C6C6C6;
    background-image: url("../images/bg-subreddit-voteup.png");
    margin-bottom: 8px;
}

.reddos-subreddit-item-votebutton-down {
    background-color: #888;
}

.reddos-subreddit-item-votebutton-like {
    background-color: #FF4500;
}

.reddos-subreddit-item-votebutton-dislike {
    background-color: #9494FF;
    background-image: url("../images/bg-subreddit-votedown.png");
}

.reddos-subreddit-item-finalize,
.reddos-subreddit-item-loading {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
