.reddos-secondcolumn {
    background-color: white;
}

.reddos-subreddit-item {
    border: 0;
    font-size: 14px;
}

.reddos-subreddit-item-odd {
    background-color: #E4F0FC;
}

.reddos-subreddit-item-title {
    font-weight: bold;
    font-size: 14px;
}

.reddos-subreddit-item-title-visited {
    color: #4B739B;
}

.reddos-subreddit-item-nsfw {
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: #b00;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.reddos-subreddit-item-domain {
    font-size: 12px;
    color: #04396C;
    margin-top: 4px;
    margin-bottom: 2px;
}

.reddos-subreddit-item-meta {
    font-size: 12px;
    color: #444444;
}

.reddos-subreddit-item-held {
    background-color: #DDDDDD;
}

.reddos-subreddit-item-held .reddos-subreddit-item-title {
    color: #04396C;
}

.reddos-subreddit-item-commentbutton,
.reddos-subreddit-item-votebutton {
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 5px 31px 5px 8px;
    margin: 0 0 5px 15px;
    border-radius: 4px;
}

.reddos-subreddit-item-commentbutton {
    background-color: #679ED2;
    background-image: url("../images/bg-subreddit-conversation.png");
}

.reddos-subreddit-item-commentbutton-down {
    background-color: #04396C;
}

.reddos-subreddit-item-votebutton {
    background-color: #C6C6C6;
    background-image: url("../images/bg-subreddit-voteup.png");
}

.reddos-subreddit-item-votebutton-down {
    background-color: #888;
}

.reddos-subreddit-item-votebutton-like {
    background-color: #FF4500;
}

.reddos-subreddit-item-votebutton-dislike {
    background-color: #9494FF;
    background-image: url("../images/bg-subreddit-votedown.png");
}
