.reddos-topmenu {
    background-color: #CEE3F8;
    border-color: #408AD2;
    border-style: solid;
    border-width: 1px 0 0 0;
}

.reddos-topmenu-buttongroup {
    padding: 20px 25px 10px 20px;
}

.reddos-topmenu-subreddit-button {
    background-color: white;
    font-size: 15px;
    font-weight: normal;
    color: black;
    padding: 7px 15px;
    margin-bottom: 1px;
}

.reddos-topmenu-subreddit-button-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #679ED2;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.reddos-topmenu-subreddit-button-header-down {
    background-color: #0C5AA6;
}

.reddos-topmenu-subreddit-button-header-hasmenu {
    background-repeat: no-repeat;
    background-image: url("../images/bg-topmenu-downchevron.png");
    background-position: right center;
}

.reddos-topmenu-subreddit-button-first {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.reddos-topmenu-subreddit-button-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.reddos-topmenu-subreddit-button-down {
    color: #FF4500;
    background-color: #EEE;
}

.reddos-topmenu-subreddit-button-loading,
.reddos-topmenu-subreddit-button-loading-down {
    text-align: center;
    color: #666666;
    background-color: white;
}
